# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS / Rider
.vs/
.idea/
*.DotSettings.user

# macOS
.DS_Store
Thumbs.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# MAUI / iOS specific
*.ipa
*.dSYM.zip
*.dSYM
